<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>eCommerce</title>


</head>

<body>
	
	<h1>Hola product</h1>
	
	
	
	<a th:href="@{/products/create}" > Crear Producto</a>
	
	<h2>Lista de productos</h2>
	
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Unidades</th>
				<th>Precio</th>
				<th>Acción</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product:${products}">
				<td th:text="${product.name}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.quantity}"></td>
				<td th:text="${product.price}"></td>
				<td><a th:href="@{products/edit/{id} (id=${product.id}) }">Editar</a></td>
				<td><a th:href="@{products/delete/{id} (id=${product.id}) }">Eliminar</a></td>
			</tr>
		</tbody>
	</table>

</body>

</html>